.flex-container
{
    display: flex;
    flex-direction:row;
}

body
{
    background-color: #000000;
    color: white;
}

.from-contorl
{
    background-color: #000000;
    color: #ffffff;
    padding: 0.375rem 0.75rem;
    border: 3px solid #ced4da;
    border-radius: 0.25rem;
    margin: 30px;
}
.btn
{
    background-color: #000000;
    color: #ffffff;
    padding: 0.375rem 0.75rem;
    border: 3px solid #ced4da;
    border-radius: 0.25rem;
    margin: 30px;
}
h1
{   
    margin: 30px;
}